@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin-ext';
html,
body {
    background-color: #181818;
    height: 100% !important;
}
body {
    margin: 0;
    padding: 0;
    height: auto;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding-top: 8rem;
    background-color: #181818;
    background-image: url(/images/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
    text-align: center;
}
footer {
    background-color: transparent !important;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #555;
}

h1,
h2,
h3,
h4,
h5,
h6,
.ui.header {
    color: #fff;
    font-weight: 300;
}
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong,
.ui.header strong {
    font-weight: 900;
}

::selection {
    background-color: $border-color-focus;
}

:focus {
    outline: none !important;
}

.hoverable {
    @include fade;
}

.hoverable:hover {
    @include hoverable;
}

.ui.form textarea:focus,
.ui.input.focus input,
.ui.input input:focus,
.ui.form input:not([type]):focus,
.ui.form input[type="date"]:focus,
.ui.form input[type="datetime-local"]:focus,
.ui.form input[type="email"]:focus,
.ui.form input[type="number"]:focus,
.ui.form input[type="password"]:focus,
.ui.form input[type="search"]:focus,
.ui.form input[type="tel"]:focus,
.ui.form input[type="time"]:focus,
.ui.form input[type="text"]:focus,
.ui.form input[type="url"]:focus {
    border-color: $border-color-focus;
}

.button {
    font-weight: 300 !important;
    span {
        font-weight: 700;
    }
}
.ui.inverted.button.basic {
    box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.3) inset !important;
}
.ui.basic.inverted.buttons .button:hover,
.ui.basic.inverted.button:hover {
    box-shadow: 0px 0px 0px 1px #ffffff inset !important;
}
.ui.container {
    max-width: 800px !important;
}

.ui.menu {
    background: #181818;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
}
.menu.main {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    right: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
    
}

.ui.menu.main.menu .mobile.row {
    padding-top: 0px !important;
    margin-top: 0px !important;
    margin: 0;
    padding: 0;
    .menu {
        border: 0;
        border-radius: 0;
    }
    .menu.open a {
        padding-left: 1.4rem;
        padding-right: 1.4rem;
    }
    .menu.open a i {
        margin: 0;
    }
}

.ui.menu.main .expanded {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #181818;
}

.main.menu .ui.vertical.menu {
    margin-top: -15px !important;
    width: 100%;
    display: none;
}

.main.menu .menu {
    padding: 0;
    margin: 0;
}

.main.menu .avatar {
    margin-right: 0.7rem;
}

.ui.menu .brand {
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: 300 !important;
    strong {
        margin-right: 0.5rem;
    }
    img {
        height: 46px !important;
        width: auto !important;
        display: block;
        margin: 0 !important;
    }
}

.ui.main.menu i.icon,
.ui.main.menu i.icons {
    font-size: 1.2rem;
}

.ui.main.menu .ui.search .prompt {
    border: none;
}

.ui.dropdown .menu > .divider {
    margin: 0;
    border-bottom: 0;
}
.ui.modal > .content.image {
    overflow: hidden;
    padding: 0 !important;
    display: block;
    position: relative;
    z-index: 1;
    img {
        width: 100%;
        height: auto;
    }
}

.ui.modal > .content.image:before {
    position: absolute;
    z-index: 2;
    content: "";
    left: 0;
    right: 0;
    top: 30%;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(34, 34, 34, 0) 0%, rgba(34, 34, 34, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(34, 34, 34, 0) 0%, rgba(34, 34, 34, 1) 100%);
    background: linear-gradient(to bottom, rgba(34, 34, 34, 0) 0%, rgba(34, 34, 34, 1) 100%);
}

.ui.modal > .content.image:after {
    position: absolute;
    z-index: 2;
    content: "";
    left: 0;
    right: 0;
    top: 30%;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(34, 34, 34, 0) 20%, rgba(34, 34, 34, 0.8) 100%);
    background: -webkit-linear-gradient(top, rgba(34, 34, 34, 0) 20%, rgba(34, 34, 34, 0.8) 100%);
    background: linear-gradient(to bottom, rgba(34, 34, 34, 0) 20%, rgba(34, 34, 34, 0.8) 100%);
}

.ui.modal > .actions {
    background-color: #fff;
}

.ui.modal > .content.main {
    padding-top: 0;
    margin-top: 0;
    .ui.header {
        text-align: center;
    }
}

.ui.modal > .close {
    z-index: 2;
}

.ui.dimmer,
.ui.inverted.dimmer {
    background-color: rgba(0, 0, 0, 0.97);
}

.hint {
    font-size: 0.85rem;
    line-height: 1.1rem;
    margin-top: 0.5rem;
    padding: 4px;
    a,
    a:active,
    a:visited,
    a:focus {
        color: $link-color;
    }
    a:hover {
        color: $link-color-hover;
    }
}

.hint.right.aligned {
    text-align: right;
}
.vertical.buttons > * {
    margin-bottom: 1rem;
}

.vertical.buttons > *:last-child {
    margin-bottom: 0;
}

.ui.modal > .content {
    background-color: #222;
}
.playing .ui.grid {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.playing .ui.list {
    text-align: center;
    .item {
        padding: 2rem;
    }
    .item .ui.avatar {
        margin: 0 0 0.5rem 0;
        text-align: center;
    }
    .item .content {
        display: block !important;
        padding: 0;
    }
    .item.add {
        font-size: 4rem;
    }
    .item.add .icon {
        padding: 0;
        margin: 0;
        display: block;
        margin: 0 auto;
    }
    .item.add small {
        display: block;
        margin: 0;
        padding: 0;
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
        font-size: 1.1rem;
        line-height: 1.2rem;
    }
    .item .icon {
        font-size: 9.3rem;
        line-height: 9.3rem
    }
}
.game.options {
    padding-bottom: 2rem;
    text-align: center;
}
.ui.divider {
    color: #fff;
}
.game.result input {
    text-align: center;
}

.game.timer {
    text-align: center;
}
.table.graphic img {
    width: 100% !important;
    margin-top: 9rem;
}
.player.rank {
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    color: #fff;
    padding: 0.5rem 1rem;
}
.player.points {
    font-size: 1rem;
    padding-top: 0.7rem;
    padding-right: 1rem;
}
.playing .avatar {
    width: 100% !important;
    height: auto !important;
    max-width: 200px !important;
}
.teamOne .avatar {
    border: 6px solid #fff !important;
}
.teamTwo .avatar {
    border: 6px solid #000 !important;
}


.ui.form input:not([type]), .ui.form input[type="date"], .ui.form input[type="datetime-local"], .ui.form input[type="email"], .ui.form input[type="number"], .ui.form input[type="password"], .ui.form input[type="search"], .ui.form input[type="tel"], .ui.form input[type="time"], .ui.form input[type="text"], .ui.form input[type="file"], .ui.form input[type="url"],
.ui.input input {
    background-color: #000;
    color: #fff;
    border: none;
    box-shadow: none;
}
.ui.form input:not([type]):focus, .ui.form input[type="date"]:focus, .ui.form input[type="datetime-local"]:focus, .ui.form input[type="email"]:focus, .ui.form input[type="number"]:focus, .ui.form input[type="password"]:focus, .ui.form input[type="search"]:focus, .ui.form input[type="tel"]:focus, .ui.form input[type="time"]:focus, .ui.form input[type="text"]:focus, .ui.form input[type="file"]:focus, .ui.form input[type="url"]:focus,
.ui.input.focus input, .ui.input input:focus {
    background-color: #000;
    color: #fff;
    border: none;
    box-shadow: none;
}
.cancel.button {
    position: fixed;
    top: 1rem;
    right: 1rem;
}
.header.main {
    margin-bottom: 0;
}