$brand-color: #d22d27;
$text-color: rgba(255, 255, 255, 0.6);
$text-color-muted: rgba(255, 255, 255, 0.3);
$link-color: rgba(255, 255, 255, 0.75);
$link-color-hover: rgba(255, 255, 255, 1);
$border-color: rgba(255, 255, 255, 0.15);
$border-color-focus: rgba(255, 255, 255, 0.6);
